h1 Listing bookings

table.table.table-sm
  thead
    tr
      th Customer
      th Location
      th Staff
      th Start Date
      th Duration
      th Status
      th
      th
      th

  tbody
    - @bookings.each do |booking|
      tr
        td = booking.customer.name
        td = booking.location.name
        td = booking.staff.name
        td = booking.start_time.strftime('%d/%m/%Y %H:%M')
        td = booking.duration
        td = booking.status
        td = link_to 'Show', admin_booking_path(booking)
        td = link_to 'Edit', edit_admin_booking_path(booking)
        td = link_to 'Destroy', admin_booking_path(booking), data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Booking', new_admin_booking_path
