- url = !!@service.id ? admin_service_path(@service) : admin_services_path
= simple_form_for @service, url: url do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :detail
    = f.input :duration
    = f.input :category

  .form-actions
    = f.button :submit, class: 'btn btn-success'
