- url = !!@customer.id ? admin_customer_path(@customer) : admin_customers_path
= simple_form_for @customer, url: url do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :phone
    = f.input :date_of_birth, as: :datepicker

  .form-actions
    = f.button :submit, class: 'btn btn-success'
