h1 Listing customers

table.table.table-sm
  thead
    tr
      th Name
      th Phone
      th Date of Birth
      th
      th
      th

  tbody
    - @customers.each do |customer|
      tr
        td = customer.name
        td = customer.phone
        td = customer.date_of_birth
        td = link_to 'Show', admin_customer_path(customer)
        td = link_to 'Edit', edit_admin_customer_path(customer)
        td = link_to 'Destroy', admin_customer_path(customer), data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Customer', new_admin_customer_path
