- url = !!@staff.id ? admin_staff_path(@staff) : new_admin_staff_path
= simple_form_for @staff, url: url do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :date_of_birth, as: :datepicker
    = f.input :gender, as: :select2, collection: ["Nam", "Nữ"]
    = f.input :phone
    = f.association :location

  .form-actions
    = f.button :submit, class: 'btn btn-success'
