h1 Listing staffs

table.table.table-sm
  thead
    tr
      th Name
      th Date of birth
      th Gender
      th Phone
      th Location
      th
      th
      th

  tbody
    - @staffs.each do |staff|
      tr
        td = staff.name
        td = staff.date_of_birth
        td = staff.gender
        td = staff.phone
        td = staff.location.name
        td = link_to 'Show', admin_staff_path(staff)
        td = link_to 'Edit', edit_admin_staff_path(staff)
        td = link_to 'Destroy', admin_staff_path(staff), data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Staff', new_admin_staff_path
